
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RemesasJJ - Admin</title>

   
    <!-- Custom styles for this template -->
    <link href="~/Template2/css/simple-sidebar.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->

    <link href="~/Content/w3.css" rel="stylesheet" />
    <link href="~/Content/w3-theme-blue.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

</head>

<body ng-app="RemesasApp" ng-controller="adminController">
    <style>
        @@media print {
            .no-print, .no-print * {
                display: none !important;
            }
        }
    </style>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="no-print">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        <strong>RemesasJJ</strong>
                    </a>
                </li>
                <li>
                    <a ui-sref="ActCambio">Actualizar Cambio</a>
                </li>
                <li>
                    <a ui-sref="ActRemesa">Reportes-Pagos</a>
                </li>
                <li>
                    <a ng-click="NewRemesa()" href="#">Remesas</a>
                </li>
                <li>
                    <a ui-sref="Bancos">Bancos</a>
                </li>
                <li>
                    <a ui-sref="Usuarios">Usuarios</a>
                </li>
                <li>
                    <a ui-sref="Roles">Roles</a>
                </li>
                
                <li>
                    <a href="/admin/logout">Salir</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
       
        
        
        <div id="page-content-wrapper">
            <div>
            <ui-view>
            
            </ui-view>    
               
            </div>
        </div>
        <!-- /#page-content-wrapper -->
        <div id="id69" class="w3-modal" ng-controller="CalculatorController"  >
            <div class="w3-modal-content w3-container w3-card-4" style="width:600px;background:white!important;text-align:left!important">
                <div class="container wow fadeIn">
                    <div class="row">
                        <div class="col-lg-12 text-left">
                            <h3 style="color:darkseagreen">Calculadora de Conversión</h3>

                            <p class="cta-text"> ¿Qué Deseas Convertir?</p>
                            <div class="radio" style="color:black!important">
                                <label><input ng-model="option" ng-click="monedaAct()" value="1" type="radio" name="optradio"><strong>Soles a Bolívares</strong></label>
                            </div>
                            <div class="radio" style="color:black!important">
                                <label><input ng-model="option" ng-click="monedaAct()" value="2" type="radio" name="optradio"><strong>Dólares a Bolívares</strong></label>
                            </div>
                            <div class="radio" style="color:black!important">
                                <label><input ng-model="option" ng-click="monedaAct()" value="3" type="radio" name="optradio"><strong>Soles a Dólares</strong></label>
                            </div>

                        </div>
                       
                       
                        <div ng-show="!dolarAct" class="col-lg-12 cta-btn-container text-center">
                            <input ng-model="monto" style="text-align:right" type="number" class="form-control" id="usr">
                            <h1 style="color:darkseagreen" class="text-right"><strong>Bs.{{total | currencyde}}</strong></h1>
                        </div>
                        <div ng-show="dolarAct" class="col-lg-12 cta-btn-container text-center">
                            <input ng-model="monto" style="text-align:right" type="number" class="form-control" id="usr">
                            <h1 style="color:darkseagreen" class="text-right"><strong>${{total | currencyde}}</strong></h1>
                        </div>
                    </div>

                </div>
                <button ng-click="modal.closeModal('id69')" class="w3-btn w3-margin-top w3-border w3-border-blue w3-round w3-tiny w3-right">Cancelar</button>
                <button ng-click="calculator()" class="w3-btn w3-margin-top w3-margin-right  w3-border w3-border-red w3-round w3-tiny w3-right">Procesar</button>
            </div>

        </div>
    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/Template2/vendor/jquery/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="~/Template2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/scripts/angular.js"></script>
    <script src="~/scripts/AngularExtensions/angular-ui-notification.js"></script>
    <script src="~/scripts/Angular-Ui-Route.js"></script>
    <script src="~/scripts/AngularExtensions/dirPagination.js"></script>
    <script src="~/scripts/AngularExtensions/angularServices.js"></script>
    <script src="~/scripts/AngularExtensions/angularConfig.js"></script>
    <script src="~/scripts/AngularExtensions/angularDirectives.js"></script>
    <script src="~/scripts/AngularExtensions/angularFilters.js"></script>
    <script src="~/scripts/AngularExtensions/angularControllers.js"></script>
    <script src="~/scripts/angular-route.js"></script>
    <!-- Menu Toggle Script -->
    <script>
   
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

    <style>
     .w3-modal button{
          margin-bottom:16px 

     }
     .w3-modal-content.w3-container{
         border-radius:12px;
         box-shadow:0 4px 10px 0 rgba(0,0,0,0.5), 0 4px 20px 0 rgba(0,0,0,0.5)

     }
    </style>
</body>

</html>
