
@{
    Layout=null;
}
<div class="center-block">
    
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <h1>Bienvenido @Session["currentUserName"]</h1>

            <img class="img-fluid" src="~/Content/verti.png" style="margin:0" />
        </div>
    </div>
    
    
    
</div>