
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>RemesasJJ</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="~/Template/img/favicon.png" rel="icon">
    <link href="~/Template/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/Template/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   
    <!-- Libraries CSS Files -->
    <link href="~/Template/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Template/lib/animate/animate.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="~/Template/css/style.css" rel="stylesheet">

    <!-- =======================================================
      Theme Name: Regna
      Theme URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>

<body ng-app="RemesasApp"  ng-controller="HomeController">

    <!--==========================
    Header
    ============================-->
    <header id="header" marging>
        <div class="container">

            <div id="logo" class="pull-left" style="margin-top:0px">
                <a href="#hero"><img width="225" src="~/Template/img/logo.png" alt="" title="" /></a>
                <!-- Uncomment below if you prefer to use a text logo -->
                <!--<h1><a href="#hero">Regna</a></h1>-->
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="#hero">Home</a></li>
                    <li><a href="#about">Quienes Somos</a></li>
                    <li><a href="#portfolio">Datos Bancarios</a></li>
                    <li><a href="#services">Instrucciones</a></li>
                    <li><a href="#team">Enviar Dinero</a></li>
                    <!--<li class="menu-has-children">
                        <a href="">Drop Down</a>
                        <ul>
                            <li><a href="#">Drop Down 1</a></li>
                            <li class="menu-has-children">
                                <a href="#">Drop Down 2</a>
                                <ul>
                                    <li><a href="#">Deep Drop Down 1</a></li>
                                    <li><a href="#">Deep Drop Down 2</a></li>
                                    <li><a href="#">Deep Drop Down 3</a></li>
                                    <li><a href="#">Deep Drop Down 4</a></li>
                                    <li><a href="#">Deep Drop Down 5</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Drop Down 3</a></li>
                            <li><a href="#">Drop Down 4</a></li>
                            <li><a href="#">Drop Down 5</a></li>
                        </ul>
                    </li>-->
                    <li><a href="#contact">Contactenos</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- #header -->
    <!--==========================
      Hero Section
    ============================-->
    <section id="hero">
        <div class="hero-container">
            <h1>CAMBIO ACTUAL</h1>
            <h2 id="fecha"></h2>
            <div class="row">
                <div class="col-md-12">
                    <h2><img width="5%" src="~/Template/img/usaFlag.png"/>DOLAR A <img width="5%" src="~/Template/img/venezuelaFlag.png" />BOLIVAR: <strong id="dolarBs"></strong></h2>
                    <h2><img width="5%" src="~/Template/img/PeruFlag.png" />SOL A <img width="5%" src="~/Template/img/venezuelaFlag.png" /> BOLIVAR: <strong id="solBs"></strong></h2>
                </div>                     
            </div>
               
                    
                
                <a href="#team" class="btn-get-started">Enviar Dinero</a>
                <a href="#call-to-action" class="btn-get-started">Calculadora</a>
          </div>
    </section><!-- #hero -->

    <main id="main">

        <!--==========================
          About Us Section
        ============================-->
        <section id="about">
            <div class="container">
                <div class="row about-container">

                    <div class="col-lg-6 content order-lg-1 order-2">
                        <h2 class="title">Algunas Palabras Sobre Nosotros...</h2>
                        <p>
                            Ante la necesidad de mantener el lazo de ayuda entre Venezolanos residentes en el exterior con sus familiares en sus lugares de origen, surge la iniciativa por parte  de nuestra Empresa de crear el servicio de Pagos y de Remesas Familiares a través de un sitio online facil y rapido.
                        </p>

                        <div class="icon-box wow fadeInUp">
                            <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                            <h4 class="title"><a href="">Envio Facil y Rapido</a></h4>
                            <p class="description">Contamos con un grupo especializado de analistas y tecnología de punta para ofrecer un servicio eficaz y oportuno a nuestros clientes</p>
                        </div>

                        <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                            <div class="icon"><i class="fa fa-photo"></i></div>
                            <h4 class="title"><a href="">Transferencias a los Diferentes Bancos Venezolanos</a></h4>
                            <p class="description">Realizamos las transferencias a todos los Bancos usados por los beneficiarios en Venezuela</p>
                        </div>

                        <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                            <div class="icon"><i class="fa fa-bar-chart"></i></div>
                            <h4 class="title"><a href="">Tenenos la mejor tasa de Cambio y no Cobramos tarifas por Envió</a></h4>
                            <p class="description">Comparando con las diferentes empresas de envio de Remesas y Pagos, poseemos la mejor tasa y los menores costos de Envio</p>
                        </div>

                    </div>

                    <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
                </div>

            </div>
        </section><!-- #about -->
        <!--==========================
          Facts Section
        ============================-->
     
        <!--==========================
      Portfolio Section
    ============================-->
        <section id="portfolio">
            <div class="container wow fadeInUp">
                <div class="section-header">
                    <h3 class="section-title">Datos Bancarios</h3>
                    <p class="section-description">Realiza tus depositos o transferencias Bancarias usando los Siguientes Datos</p>
                </div>
                <div class="row">

                    <div class="col-lg-12">
                        <ul id="portfolio-flters">
                            <li data-filter=".filter-app, .filter-card, .filter-web" class="filter-active">Todos</li>
                            <li data-filter=".filter-web">BCP</li>
                            <li data-filter=".filter-app">BBVA</li>
                            <li data-filter=".filter-card">INTERBANK</li>
                            
                          
                        </ul>
                    </div>
                </div>

                <div class="row" id="portfolio-wrapper">
                    <div class="col-lg-3 col-md-6 portfolio-item filter-app">
                        <a href="">
                            <img width="120%"  src="~/Template/img/portfolio/web1.jpg" alt="">
                            <div style="height:50%" class="details">
                                <h4>BBVA CONTINENTAL</h4>
                                <span>AHORRO - SOLES</span>
                                <span>0011-0193-02003710-63</span>
                                <span>Nan Lin Suarez Melendez</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 portfolio-item filter-app">
                        <a href="">
                            <img width="120%"   src="~/Template/img/portfolio/web2.jpg" alt="">
                            <div style="height:50%" class="details">
                                <h4>BBVA CONTINENTAL</h4>
                                <span>AHORRO - DOLARES</span>
                                <span>0011-0193-02003710-71</span>
                                <span>Nan Lin Suarez Melendez</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 portfolio-item filter-web">
                        <a href="">
                            <img width="120%" src="~/Template/img/portfolio/app1.jpg" alt="">
                            <div style="height:50%" class="details">
                                <h4>BCP</h4>
                                <span>AHORRO - SOLES</span>
                                <span>193-39841042-0-75</span>
                                <span>Nan Lin Chun Suarez Melendez </span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 portfolio-item filter-web">
                        <a href="">
                            <img width="120%" src="~/Template/img/portfolio/app2.jpg" alt="">
                            <div style="height:50%" class="details">
                                <h4>BCP</h4>
                                <span>AHORRO - DOLARES</span>
                                <span>193-39841054-1-87</span>
                                <span>Nan Lin Chun Suarez Melendez </span>
                            </div>
                        </a>
                    </div>

                   
                    <div class="col-lg-3 col-md-6 portfolio-item filter-card">
                        <a href="">
                            <img width="120%" src="~/Template/img/portfolio/card1.jpg" alt="">
                            <div style="height:50%" class="details">
                                <h4>INTERBANK</h4>
                                <span>AHORRO - SOLES</span>
                                <span>2013111482739</span>
                                <span>Nan Lin Suarez Melendez </span>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 portfolio-item filter-card">
                        <a href="">
                            <img width="120%" src="~/Template/img/portfolio/card2.jpg" alt="">
                            <div style="height:50%" class="details">
                                <h4>INTERBANK</h4>
                                <span>AHORRO - DOLARES</span>
                                <span>2013111482746</span>
                                <span>Nan Lin Suarez Melendez</span>
                            </div>
                        </a>
                    </div>
               

                  


                </div>

            </div>
        </section><!-- #portfolio -->
        <!--==========================
      Team Section
    ============================-->

        <!--==========================
          Services Section
        ============================-->
        <section id="services">
            <div class="container wow fadeIn">
                <div class="section-header">
                    <h3 class="section-title">INSTRUCCIONES</h3>
                    <p class="section-description">Sigue las siguientes para realizar un proceso efectivo</p>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="box" style="height:100%">
                            <div class="icon"><a href=""><i class="fa fa-desktop"></i></a></div>
                            <h4 class="title"><a href="">Verifica los datos para Depositar</a></h4>
                            <p class="description">Verifica el cambio Actual en nuestra pagina y los datos para Depositar</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="box" style="height:100%">
                            <div class="icon"><a href=""><i class="fa fa-bar-chart"></i></a></div>
                            <h4 class="title"><a href="">Realiza tu Deposito</a></h4>
                            <p class="description">Realiza tu deposito o transferencia con los datos bancarios del proceso anterior y guarda tu recibo.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="box" style="height:100%">
                            <div class="icon"><a href=""><i class="fa fa-paper-plane"></i></a></div>
                            <h4 class="title"><a href="">Reporta y Envía la Información</a></h4>
                            <p class="description">Ingresa a nuestra página web y reporta la información del depósito o transferencia realizada en el formulario de reporte. Ingresa todos los datos que se te solicitan y al final envía la información. Listo, después de un tiempo prudente el beneficiario obtendrá el dinero es su cuenta.</p>
                        </div>
                    </div>

                    
                </div>

            </div>
        </section><!-- #services -->
        <!--==========================
        Call To Action Section
        ============================-->
        <section id="call-to-action">
            <div class="container wow fadeIn">
                <div class="row">
                    <div class="col-lg-9 text-center text-lg-left">
                        <h3 class="cta-title">Calculadora de Conversión</h3>
                       
                        <p class="cta-text"> ¿Qué Deseas Convertir?</p>
                        <div class="radio" style="color:white">
                            <label><input ng-model="option" ng-click="monedaAct()" value="1" type="radio" name="optradio"><strong>Soles a Bolívares</strong></label>
                        </div>
                        <div class="radio" style="color:white">
                            <label><input ng-model="option" ng-click="monedaAct()" value="2" type="radio" name="optradio"><strong>Dólares a Bolívares</strong></label>
                        </div>
                        <div class="radio" style="color:white">
                            <label><input ng-model="option" ng-click="monedaAct()" value="3" type="radio" name="optradio" ><strong>Soles a Dólares</strong></label>
                        </div>

                    </div>
                    <div class="col-lg-3 cta-btn-container text-center">
                        <a ng-click="calculator()" class="cta-btn align-middle" href="">Calcular</a> <br/>
                        
                    </div>
                    <div class="col-lg-3 cta-btn-container text-center">
                        <input ng-model="monto" style="text-align:right" type="number" class="form-control" id="usr">
                     </div>
                    <div ng-show="!dolarAct" class="col-lg-9 cta-btn-container text-center">
                        <h1 style="color:white" class="text-right"><strong>Bs.{{total | currency: '': 2}}</strong></h1>
                    </div>
                    <div ng-show="dolarAct" class="col-lg-9 cta-btn-container text-center">
                        <h1 style="color:white" class="text-right"><strong>${{total | currency: '': 2}}</strong></h1>
                    </div>
                 </div>

            </div>
        </section><!-- #call-to-action -->
        
        <section id="team">
            <div class="container wow fadeInUp">
                <div class="section-header">
                  
                    <ui-view>


                    </ui-view>
                </div>
               

            </div>
        </section><!-- #team -->
        <!--==========================
          Contact Section
        ============================-->
        <section id="contact">
            <div class="container wow fadeInUp">
                <div class="section-header">
                    <h3 class="section-title">Contactenos</h3>
                    <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
                </div>
            </div>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.758100949655!2d-77.14041168475896!3d-12.060157745434436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105cb9a66c5493b%3A0x7540c4e687079570!2sAv+Saenz+Pe%C3%B1a+709%2C+Callao+07021!5e0!3m2!1ses-419!2spe!4v1521526215451" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

            <div class="container wow fadeInUp">
                <div class="row justify-content-center">

                    <div class="col-lg-3 col-md-4">

                        <div class="info">
                            <div>
                                <i class="fa fa-map-marker"></i>
                                <p>Somos tienda fisica Av. saenz Peña 709 local 6</p>
                            </div>

                            <div>
                                <i class="fa fa-envelope"></i>
                                <p>remesasjj@gmail.com</p>
                            </div>

                            <div>
                                <i class="fa fa-phone"></i>
                                <p>+51 935 272 775</p>
                            </div>
                        </div>

                        <div class="social-links">
                            <a href="+51935272775" class="whatsapp"><i class="fa fa-whatsapp"></i></a>
                            <a href="https://www.facebook.com/RemesasJJ" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/remesasjj/" class="instagram"><i class="fa fa-instagram"></i></a>
                           
                        </div>

                    </div>

                    <div class="col-lg-5 col-md-8">
                        <div class="form">
                            <div id="sendmessage">Your message has been sent. Thank you!</div>
                            <div id="errormessage"></div>
                            <form action="" method="post" role="form" class="contactForm">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                    <div class="validation"></div>
                                </div>
                                <div class="text-center"><button type="submit">Send Message</button></div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- #contact -->

    </main>

    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">

            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>RemesasJJ</strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
                -->
                Creador Por <a href="http://www.ilogicsoftwares.com/">Ilogic Softwares</a>
            </div>
        </div>
    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="~/Template/lib/jquery/jquery.min.js"></script>
    <script src="~/Template/lib/jquery/jquery-migrate.min.js"></script>
    <script src="~/Template/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Template/lib/easing/easing.min.js"></script>
    <script src="~/Template/lib/wow/wow.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>

    <script src="~/Template/lib/waypoints/waypoints.min.js"></script>
    <script src="~/Template/lib/counterup/counterup.min.js"></script>
    <script src="~/Template/lib/superfish/hoverIntent.js"></script>
    <script src="~/Template/lib/superfish/superfish.min.js"></script>

    <!-- Contact Form JavaScript File -->
    <script src="~/Template/contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="~/Template/js/main.js"></script>
    <script src="~/scripts/angular.js"></script>
    <script src="~/scripts/AngularExtensions/angular-ui-notification.js"></script>
    <script src="~/scripts/Angular-Ui-Route.js"></script>
    <script src="~/scripts/AngularExtensions/angularConfig.js"></script>
    <script src="~/scripts/AngularExtensions/angularServices.js"></script>
    <script src="~/scripts/AngularExtensions/angularDirectives.js"></script>
    <script src="~/scripts/AngularExtensions/angularControllers.js"></script>
    <script src="~/scripts/angular-route.js"></script>
    <script>
        var cambioxz=@Html.Raw(ViewBag.cambiox);
        var remesax=@Html.Raw(ViewBag.remesas);
            var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
            $("#dolarBs").text(toCurrency(cambioxz.bolivares));
            $("#solBs").text(toCurrency(cambioxz.bolivares / cambioxz.cambio1));
            $("#fecha").text((new Date()).toLocaleDateString("es-ES", options));

            function toCurrency(number){
                return "Bs." + number.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            }


    </script>
    <style>
    .loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid green; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

     @@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }
    </style>
</body>
</html>





