
@{
    Layout = null;
}

@{
    Layout = null;
}

<body>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <div class="w3-animate-right">
        <div class="w3-container w3-black">
            <h2 class="text-center">FORMULARIO DE ENVIO</h2>
        </div>

        <form name="Form1" class="w3-container">
            <p id="4" class="form-group">
                <h2>Datos del Depositante:</h2><br />
                <label>Nombre del Depositante</label>
                <input id="nombreDep" class="w3-input" type="text" ng-model="remesa.remex.nombreCliente" required>
                <label>Email del Depositante</label>
                <input id="emailDep" class="w3-input" type="email" ng-model="remesa.remex.correoCliente" required>
                <label>Teléfono del Depositante</label>
                <input id="telefonoDép" class="w3-input" type="text" ng-model="remesa.remex.telefonoCliente" required>
            </p>
            <p id="4" class="form-group">
                <div class="loader pull-right" ng-show="loading2"></div>
                <input id="male" ng-show="Botton" ng-disabled="loading2" class="btn btn-default pull-right" type="submit" ng-click="enviarRemesa($event,true)" value="Procesar">
                <button style="color:white;font-weight:bolder" ng-click="gotoForm('FormOffice3')" class="btn w3-black pull-right  w3-margin-right">Anterior</button>
            </p>
        </form>
        </div>
</body>