
@{
    Layout = null;
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

    <div class="w3-container w3-green">
        <h2 class="text-center">FORMULARIO DE ENVIO</h2>
    </div>

    <form name="Form1" class="w3-container">
        <h2>Datos del Benificiario</h2>
        <p>
            <label>Nombre Completo</label>
            <input id="nombreComp" class="w3-input w3-animate-input" type="text" ng-model="remesa.nombreBenef" required>
        </p>
        <p>
            <label>Cedula</label>
            <input id="cedula" class="w3-input w3-animate-input" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-model="remesa.cedulaBenef" required>
        </p>
        <p id="1" class="form-group">
            <label>Tipo de Cedula: </label>
            <input id="male" class="w3-radio" type="radio" name="cedulaBenefType" ng-model="remesa.cedulaBenefType" value="1" checked required>
            <label>V</label>
            <input id="male" class="w3-radio" type="radio" name="cedulaBenefType" ng-model="remesa.cedulaBenefType" value="2" >
            <label>P</label>
            <input id="male" class="w3-radio" type="radio" name="cedulaBenefType"  ng-model="remesa.cedulaBenefType" value="3" >
            <label>E</label>
        </p>
        <p>
            <h2>Banco del Beneficiario </h2>
            <select class="w3-select" name="option" ng-model="remesa.bancoBenef" ng-options="item.id as item.nombre for item in bancos track by item.id">
                <option value="" disabled selected>Selecciona un Banco</option>
                <option value="1">Banesco Banco Universal</option>
                <option value="2">Banco de Venezuela</option>
                <option value="3">Banco Provincial</option>
            </select>
        </p>
        <p>
            <label>Numero de Cuenta</label>
            <input maxlength="20" pattern=".{20,20}" class="w3-input w3-animate-input" type="text" number-mask="" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-model="remesa.cuentaBenef" required title="Numero de cuenta de 20 digitos">
        </p>
        <p id="2" class="form-group">
            <label>Tipo de Cuenta</label>
            <input id="male" class="w3-radio" type="radio" name="cuentaBenefType" ng-model="remesa.cuentaBenefType" value="1" required >
            <label>Ahorro</label>
            <input id="male" class="w3-radio" type="radio" name="cuentaBenefType"  ng-model="remesa.cuentaBenefType" value="2" checked>
            <label>Corriente</label>       
        </p>
        <p id="3" class="form-group">
            <h2>Forma de Pago</h2><br/>
            <input id="male" class="w3-radio" type="radio" name="remesaType" ng-model="remesa.remesaType" value="1" ng-click="showForm(false)"  required>
            <label>Oficina</label>
            <input id="male" class="w3-radio" type="radio" name="remesaType" ng-model="remesa.remesaType" value="2" ng-click="showForm(true)" checked >
            <label>Depósito</label>
            <input id="male" class="w3-radio" type="radio" name="remesaType" ng-model="remesa.remesaType" value="3" ng-click="showForm(true)" >
            <label>Transferencia</label>
        </p>
        <div ng-show="depoTran">
            <p id="4" class="form-group">
                <h2>Adjuntar Voucher</h2><br />
                <input  class="w3-input" id="file" type="file"  value="male" ng-model="filejpg" onchange="angular.element(this).scope().add()">
                <p style="color:red">{{ImgError}}</p>
                <div  class="loader" ng-show="loading"></div>
                <img id="fileimage" class="img-responsive" width="35" ng-show="showFile" src="~/Content/Uploads/{{newFileName}}"/>
                <label>Fecha</label>
                <input id="fecha" class="w3-input" type="date" name="fecha" ng-model="remesa.fecha">
                <label>Número de Transacción</label>
                <input id="nunTrans" class="w3-input" type="text" name="nunTrans">
            </p>
        </div>
        <p id="3" class="form-group">
            <h2>Moneda</h2><br />
            <input id="male" class="w3-radio" type="radio" name="monedaDeposito" ng-model="remesa.monedaDeposito" ng-click="calEnviox()" value="1" required checked>
            <label>SOLES</label>
            <input id="male" class="w3-radio" type="radio" name="monedaDeposito" ng-model="remesa.monedaDeposito" ng-click="calEnviox()" value="2" >
            <label>DÓLARES</label><br/>
            <label>Monto</label>
            <input class="w3-input text-right" type="number" min="10" pattern="^[1-9]\d*$" ng-model="remesa.montoDeposito" value="male" ng-change="calEnvio()" required>
            <h2 class="text-right">Total Bs.{{remesa.montoDestino | currency: '': 2}}</h2>
        </p>
        <p id="4" class="form-group">
            <h2>Datos del Depositante:</h2><br />
            <label>Nombre del Depositante</label>
            <input id="nombreDep" class="w3-input" type="text"  ng-model="remesa.nombreCliente"  required >
            <label>Email del Depositante</label>
            <input id="emailDep" class="w3-input" type="email" ng-model="remesa.correoCliente" required>
            <label>Teléfono del Depositante</label>
            <input id="telefonoDép" class="w3-input" type="text" ng-model="remesa.telefonoCliente" required>
        </p>
        <p id="4" class="form-group">
            <div class="loader pull-right" ng-show="loading2"></div>
            <input id="male" ng-show="Botton" ng-disabled="loading2" class="btn btn-lg pull-right" type="submit" ng-click="enviarRemesa($event)" value="Enviar">
        </p>
    </form>
    <script>
     

    </script>
</body>